.Layout, .Content {
  background: #fff;
}

.Header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background: #979797;
}

.Footer {
  text-align: center;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
