.CardTodo {
  margin: 1.7em 0;
  width: 100%;
}

.CardTodo:hover {
  border-color: #5787BF;
  background: #d4eaf7;
  cursor: pointer;
}

.CardTodo:first-child {
  margin-top: 30px
}
.CardTodo:last-child {
  margin-bottom: 30px
}

.ButtonCreate {
  background: #57A99A;
  border-color: transparent;
}

.ButtonCreate:hover {
  background: rgba(87, 169, 154, 0.81);
  border-color: transparent;
}

.ContainerButtonCreate {
  position: fixed;
  left: 50%;
  bottom: 4em;
  transform: translate(-50%, -50%);
  width: 60px;
  text-align: center;
  background: transparent;
  margin-bottom: 30px;
}
